.idea
.gradle
.project
.classpath
.vscode
.settings

build
out
bin

# protoc generated
src/main/java/com/incarcloud/std

*.log
*.out
*.iml

gradle.properties
application-*.yml
log4j2-*.xml
GitVer.java
